
    .page_container {
        min-height: 100vh;
        overflow: hidden;
        background-color: var(--secondary-color-dark
       
        );
    }

    .navbar,
    .navbar button {
        background-color: var(--primary-color-light);
    }
   
    .nav_item_container button{
        background-color: transparent;
        border: none;
    }

    .navbar a,
    .navbar button {
        text-decoration: none;
        color: var(--primary-color-dark);
        padding: 0px 15px;
        border: 0px;
    }

    .navbar a:hover,
    .navbar button:hover {
        padding: 0px 15px;
        text-decoration: none;
        color:var(--secondary-color-light);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    