.page_container {
    min-height: 100vh;
    background-color: var(--secondary-color-light);
}

.title {
    text-align: center;
    
}

.folder_card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 15px;;
    width: 90%;
    height: 330px;
    border-radius: 3%;
    background-color: var(--primary-color-light) !important;

}

.folder_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height:130px;
}
