@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color-light:#91a5b0;
    --primary-color-dark:#215069; 
    --secondary-color-light: #babec5; 
    --secondary-color-dark:#184a64; 
}

[data-theme = "dark"] {
    --primary-color-light:#636e83; 
    --primary-color-dark: #303841; 
    --secondary-color-light: #718098;  
    --secondary-color-dark:#3a4750; 
}

* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.btn-primary {
    background-color: var(--secondary-color-dark);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn.btn-primary:hover {
    background-color: var(--primary-color-dark);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn.btn-primary:disabled {
    background-color: gray;
    cursor: not-allowed;
    box-shadow: none;
}



