@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color-light:#5588a3;
    --primary-color-dark:#00334e; 
    --secondary-color-light: #e8e8e8; 
    --secondary-color-dark:#145374; 
}

/*:dark {
    --primary-color-light:#be3144; 
    --primary-color-dark: #303841; 
    --secondary-color-light: #d3d6db;  
    --secondary-color-dark:#3a4750; 
    
}*/

* {
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--primary-color-light);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.btn-primary {
    background-color: #00334e;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn.btn-primary:disabled {
    background-color: gray;
    cursor: not-allowed;
    box-shadow: none;
}



